<ion-header>
  <ion-toolbar>
    <ion-title>Weather Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Enter City</ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="getForecast()">Get Forecast</ion-button>

  <ion-list *ngIf="forecastData">
    <ion-item *ngFor="let forecast of forecastData.list">
      <ion-label>{{ forecast.dt_txt }}</ion-label>
      <ion-label>{{ forecast.weather[0].description }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
